<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Open-Gestional-Software.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C14CD1DC1EE68C4A00028813</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C14CD1ED1EE68C4B00028813</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C14CD1F81EE68C4B00028813</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
